---
import Page from '@layouts/Page.astro';
const year = new Date().getFullYear();
---

<Page title="The Aentropy Company" description="The less you think, the clearer it becomes">
  <div class="typography min-h-screen mx-auto p-4">
    <img width="96px" height="96px" src="/head.png" class="-ml-4 -mb-2" />
    <div class="block">
      <h1>The Aentropy Company</h1>
      <p>
        We build with one intention: to reduce entropy. While the world drifts toward noise and disorder, we bring chaos
        back into clear structure.
      </p>
    </div>
    <div class="block">
      <h3>Projects</h3>
      <p>
        <a href="https://got.cc" target="_blank">Got</a> — send USDT to anyone in your favorite messenger, instantly.
      </p>
    </div>
    <div class="block">
      <h3>Contacts</h3>
      <p>
        <a href="mailto:hello@theaentropy.company">hello@theaentropy.company</a>
      </p>
    </div>
    <div class="flex flex-row gap-4">
      <a href="https://x.com/aentropycompany" rel="noreferrer" target="_blank">
        <span class="sr-only">X</span>
        <svg class="icon-primary" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.7512 0.833313H18.818L12.1179 8.59914L20 19.1666H13.8284L8.99459 12.7575L3.46359 19.1666H0.394936L7.56132 10.8603L0 0.833313H6.32827L10.6976 6.69154L15.7512 0.833313ZM14.6748 17.3051H16.3742L5.40491 2.59707H3.58133L14.6748 17.3051Z"
          ></path>
        </svg>
      </a>
      <a href="https://github.com/aentropycompany" rel="noreferrer" target="_blank">
        <span class="sr-only">GitHub</span>
        <svg class="icon-primary" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.0083 0C4.47396 0 0 4.58334 0 10.2535C0 14.786 2.86662 18.6226 6.84338 19.9805C7.34058 20.0826 7.52271 19.7599 7.52271 19.4885C7.52271 19.2508 7.50629 18.436 7.50629 17.587C4.72225 18.1983 4.14249 16.3647 4.14249 16.3647C3.69508 15.1764 3.03215 14.871 3.03215 14.871C2.12093 14.2428 3.09852 14.2428 3.09852 14.2428C4.1093 14.3108 4.63971 15.2953 4.63971 15.2953C5.53433 16.857 6.97592 16.4158 7.55588 16.1441C7.63867 15.482 7.90396 15.0237 8.18563 14.7691C5.96513 14.5314 3.6289 13.6487 3.6289 9.71019C3.6289 8.58977 4.02634 7.67312 4.65608 6.96019C4.55671 6.70562 4.20867 5.65291 4.75563 4.24393C4.75563 4.24393 5.60071 3.97228 7.50608 5.29643C8.32188 5.07198 9.16317 4.95783 10.0083 4.95685C10.8533 4.95685 11.7148 5.07583 12.5103 5.29643C14.4159 3.97228 15.2609 4.24393 15.2609 4.24393C15.8079 5.65291 15.4596 6.70562 15.3603 6.96019C16.0066 7.67312 16.3876 8.58977 16.3876 9.71019C16.3876 13.6487 14.0514 14.5143 11.8143 14.7691C12.179 15.0916 12.4937 15.7026 12.4937 16.6703C12.4937 18.0453 12.4773 19.1489 12.4773 19.4883C12.4773 19.7599 12.6596 20.0826 13.1566 19.9808C17.1333 18.6225 20 14.786 20 10.2535C20.0163 4.58334 15.526 0 10.0083 0Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <footer>
    <div class="typography mx-auto px-4">
      <div class="py-7 flex flex-row gap-8">
        <span class="text-teritary text-footnote font-medium">
          Copyright © {year} The Aentropy Company. All rights reserved.
        </span>
      </div>
    </div>
  </footer>
</Page>
