---
import Page from '@layouts/Page.astro';
---

<Page title="The Aentropy Company" description="The less you think, the clearer it becomes">
  <div class="w-full max-w-[576px] mx-auto min-h-screen flex flex-col items-stretch justify-center p-4">
    <div class="typography">
      <h1>The Aentropy Company</h1>
      <p>We try to reduce entropy everywhere — in design, in code, and in how things are meant to be.</p>
      <!-- <h3>Our projects</h3>
      <p>
        💼 <a href="https://unistash.io">Unistash</a><br />
        💸 <a href="https://got.cc">got.cc</a>
      </p> -->
      <p>
        <a href="mailto:hello@theaentropy.company">hello@theaentropy.company</a>
      </p>
    </div>
  </div>
</Page>
